/* Desktop */
    .main_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #212529;
        color: white;
         min-height: 31px;
        padding: 10px;
        position: sticky; 
        top: 0;
        z-index: 1;

    }

    /* left nav bar */
    .main_container .nav_left {
        margin-left: 20px;
        flex-grow: 9;
        font-weight: 600;
        font-size: 20px;
    }

    /* right nav bar */
    .main_container .nav_right {
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    /* right nav bar  values*/
    .main_container .nav_right .items {
        margin-right: 15px;
        text-align: center;
        padding: 5px 10px;
        border-radius: 15px;
        color: white;
    }

    /* hidden the menu icon desktop screen */
    .main_container .menu {
        display: none;
    }

    .main_container .nav_right .items:hover {
        background-color: blueviolet;
    }


.logout{
    cursor: pointer;
}

/* mobile */

@media (max-width:599px) {
   
 /*show the menu icon mobile screen */
    .main_container .menu {
        display: block;
        cursor: pointer;
    }
 /* right nav bar */
    .main_container .nav_right {  
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: #212529;
        width: 100%;
        top:41px;
        left: 0;    
    }

    /* when press the cancel button , it can be hide */
    .main_container #hide{
        display: none;
    }

    /* right nav bar  values*/
    .main_container .nav_right .items {
        margin: 5px 0;
        padding: 7px 15px 7px 15px;
    }
}